#mySquirrel{
    width: 100px;
    height: 100px;

    background-image: url('../../agentSquirrel/squirrel1.png');

    background-size: cover;
    position: absolute;
    transition: left 0.5s linear, top 0.5s linear;
    z-index: 1000;
}


